Employees{
background-color: azure;
width:60%;
margin:auto;
}
Employee{
    display:flex;
    flex-direction: column;
    margin:20px 0px; 
    background-color: rgb(62, 139, 127);
}
Name,Phones,Addresses,Email{
    font-size: large;
    margin:5px 30px 5px 30px;

}
Phones,Addresses{
    display:flex;
    flex-direction: column;
}